<p>
{% if theme_travis %}
    <a href="http://travis-ci.org/#!/{{ theme_github_user }}/{{ theme_github_repo }}" target="_blank" style="border-bottom: none">
        <img src="https://secure.travis-ci.org/{{ theme_github_user }}/{{ theme_github_repo }}.png?branch={{ theme_github_branch }}" alt="Build status" title="Travis-CI" border="0" />
    </a>
{% endif %}
{% if theme_coveralls %}
    <a href='https://coveralls.io/r/{{ theme_github_user }}/{{ theme_github_repo }}' style="border-bottom: none">
        <img src='https://coveralls.io/repos/{{ theme_github_user }}/{{ theme_github_repo }}/badge.png' alt='Coverage Status' />
    </a>
{% endif %}
</p>
